html, 

html{
    Overflow-y: scroll;
    padding: 0;
    margin: 0;
}

*  {
    overflow: hidden; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

header{
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
}

.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
    width: 50%;
    padding-left: 10%;
    
}

.nav{
    color: #E5E7EB;
    font-size: 18px;
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    align-content: center;
}

.tester{
    margin: auto; 
    cursor: pointer;

}

.topper{
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 0;
    padding-bottom: 75px; 
    margin: 0;
    display: flex;
}

.lefttop{
    color: #F9FAF8;
    width: 50%;
    padding-left: 10%;
}

.button{ 
    background-color: #3882F6;
    color: #F9FAF8;
    cursor:pointer;
    width: 25%;
    padding: 5px;
    border-radius: 4px;
    margin-top: 3px;

}

.tempy{
    margin: 0;
}

.imageplace{
    background-color: grey; 
    color: #E5E7EB;
    margin-left: 50px;
    width: 35%;
    margin-top: 30px;
}

.crying{
    margin: auto; 
    width: 75%; 
    padding: 10px;
    margin-top: 75px;
}

.title{
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}

.info{
    font-size: 36px; 
    font-weight: extra-bold; 
    color: #1F2937;
    text-align: center;
}

.slide{
    display: flex; 
    flex-direction: row;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%; 
}

.box{
    border: 2px solid #3882F6;
    padding: 50px;
    margin: 10px;
    height: 60%;
    border-radius: 10px;
}

.sub{
    color: grey;
    text-align: center;
    margin: 10px;
}

.middle{
    background-color: #E5E7EB;
    font-size: 36px; 
    color: #1F2937;
    font-style: italic;
    font-weight: 50;
    text-align: justify;
    margin: auto;
}

.quote{
    font-size: 36px; 
    font-weight: 20; 
    color: #1F2937;
    text-align: left;
    margin: 75px 150px 0px 150px;
    font-weight: lighter;
}

.quote1{
    font-size: 36px; 
    font-weight: 50; 
    color: #1F2937;
    text-align: right;
    font-weight: bold; 
    margin: 0px 150px;
    margin-bottom: 75px;
}

.bluey{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    width: 85%; 
    margin: 75px;
    border-radius: 5px; 
    padding: 10px;
}

.signer{
    color:#F9FAF8;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 5px; 
    width: 50%; 
}

.x{
    width: 75%; 
    text-align: left;
    margin-left: 50px; 
}

.z{ 
    margin-top: 25px; 
    margin-bottom: 0px;
}

.a{
    margin-top: 0px; 
    margin-bottom: 25px; 
}

.y{
    width: 25%;
    margin: auto; 
    text-align: center;  
}

footer{
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
}
